.snake
	.row
		.offset-2.col-8.box
			h2 Informations
			p.
				Take the control of the snake with the direction arrows.
			p.
				Be carreful, each 5 points you scored makes the snake moves faster!!!
			p.
				Press space to restart.

script(src="/js/game.js")