nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.shadow
	//- img(src="/images/website/" alt="")
	a.navbar-brand(href="/") Snake
	span Mathieu Kruk
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon

	.collapse.navbar-collapse#navbarSupportedContent
		ul.navbar-nav.ml-auto
			li.nav-item.ml-auto
				a.nav-link(href="https://www.linkedin.com/in/mathieu-kruk" target="_Blank")
					i.fab.fa-linkedin
			li.nav-item.ml-auto
				a.nav-link(href="https://github.com/MathieuKruk" target="_Blank")
					i.fab.fa-github
			li.nav-item.ml-auto
				a.nav-link(href="https://www.behance.net/mathieukruk/projects" target="_Blank")
					i.fab.fa-behance-square
			li.nav-item.ml-auto
				a.nav-link(href='mailto:mathieukruk@gmail.com' target="_Blank")
					i.fas.fa-envelope